/* Elements */
body {
    background-image: url("../images/star-background.jpg");
    font-family: 'Poller One', cursive;
}
hr {
    width: 50%;
}
.game-title {
    color: white;
    font-size: 3rem;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1% auto;
}

/* Classes */
.section-title {
    color: white;
    font-size: 2rem;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1% auto;
}
.game-row {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.char-block-select {
    font-size: 1.25rem;
    text-align: center;
    margin: 1%;
    padding: 1%;
    border: solid green 5px;
    color: black;
    background-color: white;
}
.char-block-select:hover {
    cursor: pointer;
}
.char-block-enemy {
    font-size: 1.25rem;
    text-align: center;
    margin: 1%;
    padding: 1%;
    border: solid black 5px;
    color: black;
    background-color: red;
}
.char-block-enemy:hover {
    cursor: pointer;
}
.char-block-defender {
    font-size: 1.25rem;
    text-align: center;
    margin: 1%;
    padding: 1%;
    border: solid green 5px;
    color: white;
    background-color: black;
}
.char-img-select {
    width: 200px;
    height: auto;
    border: solid 1px black;
}
.char-img-defender {
    width: 200px;
    height: auto;
    border: solid 1px white;
}

/* IDs */
#attack-button {
    font-size: 1.5rem;
}
#restart-button {
    font-size: 1.5rem;
}
