/* Elements */
body {
    background-image: url("../images/star-background.jpg");
    font-family: 'Poller One', cursive;
}
hr {
    width: 50%;
}
button {
    border-radius: 5px;
    font-size: 1.5rem;
    margin: 1% auto;
}
button:hover {
    cursor: pointer;
}
/* Classes */
.game-title {
    color: white;
    font-size: 2.5rem;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0.5% auto;
}
.section-title {
    color: white;
    font-size: 1.5rem;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0.5% auto;
}
.game-row {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.char-block-select {
    text-align: center;
    margin: 0.5% 1%;
    padding: 0.5%;
    border: solid green 5px;
    color: black;
    background-color: white;
}
.char-block-select:hover {
    cursor: pointer;
}
.char-block-enemy {
    text-align: center;
    margin: 0.5% 1%;
    padding: 0.5%;
    border: solid black 5px;
    color: black;
    background-color: red;
}
.char-block-enemy:hover {
    cursor: pointer;
}
.char-block-defender {
    text-align: center;
    margin: 0.5% 1%;
    padding: 0.5%;
    border: solid green 5px;
    color: white;
    background-color: black;
}
.char-img-select {
    width: 175px;
    height: auto;
    border: solid 1px black;
}
.char-img-defender {
    width: 175px;
    height: auto;
    border: solid 1px white;
}
.message {
    color: white;
    font-size: 1.5rem;
}

/* IDs */
#gr-6 {
    line-height: 2.5rem;
    text-align: center;
}
#restart-button {
    font-size: 1.5rem;
}
#page-container {
    position: relative;
    min-height: 98vh;
}
#content-wrap {
    padding-bottom: 2rem;    
}
#footer {
    color: white;
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2rem;            
}
